
body {
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}

.page {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}

.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}

.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}

.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}

.form {
  margin: 40px;
  position: absolute;
}

label {
  margin-left: 20px;
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  background: transparent;
  border: 0;
  color: #837d7d;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  
}

.getip{
  padding: 16px 10px;
  margin-left: 20px;
  border: none;
  border-radius: 4px;
  background-color: #fffefe;
}

#submit {
  color: #f3f3f5;
  margin-top: 40px;
  transition: color 300ms;
  width:100px;
  border-radius: 5px;
}
#submit:focus {
  color: #f2f2f2;
  background-color: #2D2F36;
}

#submit:active {
  color: #d0d0d2;
}

.cont {
  background-color: white;
  width: 35vw;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.4);
  justify-content: space-around;
  padding: 35px;
  }

  .top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  a {
    text-decoration:none;
    background-color:#6d6767;
    color: white;
    padding:10px;
    border-radius:20px;
    cursor:pointer;
  }

  .bottom-container {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    line-height: 2.5rem;
    margin-top: 20px;
  }

  